.bg {
    background: #99c;
}
h1 {
    color: orange;
    font-family: fantasy;
    font-size: 45px;
    text-align: center;
    text-shadow: 5px 5px lightsalmon;
}
h3 {
    color: green;
    font-family: cursive;
    text-align: center;
    font-size: 20px;
}
h3 em {
    color: turquoise;
    font-size: 25px;
}
#pirate {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*used w3schools.com for help with aligning an image 
    https://www.w3schools.com/howto/howto_css_image_center.asp*/
    border: 12px burlywood;
    width: 20%;
}
img {
    width: 25%;
}
.palmLeft {
    float: left;
}
.palmRight{
    float: right;
}

